<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfe896">  <td>15/12/07 19:03:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Linkedin.testSetup()[pri:0, instance:linkedin.Linkedin@483bf400]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13648335</td>   <td></td> </tr>
<tr bgcolor="bfe896">  <td>15/12/07 19:04:16</td>   <td>18971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkedin.VerifyInvalidLogin_fb(java.lang.String, java.lang.String)[pri:0, instance:linkedin.Linkedin@483bf400]">VerifyInvalidLogin_fb</td> 
  <td>main@13648335</td>   <td></td> </tr>
<tr bgcolor="bfe896">  <td>15/12/07 19:05:38</td>   <td>101158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Linkedin.VerifyInvalidLogin_fb(java.lang.String, java.lang.String)[pri:0, instance:linkedin.Linkedin@483bf400]">VerifyInvalidLogin_fb</td> 
  <td>main@13648335</td>   <td></td> </tr>
<tr bgcolor="bfe896">  <td>15/12/07 19:05:42</td>   <td>105205</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Linkedin.tearDown()[pri:0, instance:linkedin.Linkedin@483bf400]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13648335</td>   <td></td> </tr>
</table>
